[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "awstools"]
	path = awstools
	url = https://github.com/icalvete/puppet-awstools.git
[submodule "common"]
	path = common
	url = https://github.com/icalvete/puppet-common.git
[submodule "s3sync"]
	path = s3sync
	url = https://github.com/icalvete/puppet-s3sync.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/icalvete/puppet-puppet.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/icalvete/puppet-mysql.git
[submodule "htpasswd"]
	path = htpasswd
	url = https://github.com/icalvete/puppet-htpasswd.git
[submodule "apache2"]
	path = apache2
	url = https://github.com/icalvete/puppet-apache2.git
[submodule "php5"]
	path = php5
	url = https://github.com/icalvete/puppet-php5.git
[submodule "statsd"]
	path = statsd
	url = https://github.com/icalvete/puppet-statsd.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/icalvete/puppet-nodejs.git
[submodule "kibana3"]
	path = kibana3
	url = https://github.com/icalvete/puppet-kibana3.git
[submodule "logstash"]
	path = logstash
	url = https://github.com/icalvete/puppet-logstash.git
[submodule "syslogng"]
	path = syslogng
	url = https://github.com/icalvete/puppet-syslogng.git
[submodule "collectd"]
	path = collectd
	url = https://github.com/icalvete/puppet-collectd.git
[submodule "mcollective"]
	path = mcollective
	url = https://github.com/icalvete/puppet-mcollective.git
[submodule "drbd"]
	path = drbd
	url = https://github.com/icalvete/puppet-drbd.git
[submodule "pacemaker"]
	path = pacemaker
	url = https://github.com/icalvete/puppet-pacemaker.git
[submodule "roles"]
	path = roles
	url = https://github.com/icalvete/puppet-roles.git
[submodule "lvm"]
	path = lvm
	url = https://github.com/icalvete/puppet-lvm.git
[submodule "kyototycoon"]
	path = kyototycoon
	url = https://github.com/icalvete/puppet-kyototycoon.git
[submodule "glusterfs"]
	path = glusterfs
	url = https://github.com/icalvete/puppet-glusterfs.git
[submodule "couchbase"]
	path = couchbase
	url = https://github.com/icalvete/puppet-couchbase.git
[submodule "rundeck"]
	path = rundeck
	url = https://github.com/icalvete/puppet-rundeck.git
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/icalvete/puppet-jenkins.git
[submodule "389ds"]
	path = 389ds
	url = https://github.com/icalvete/puppet-389DirectoryServer.git
[submodule "pam_ldap"]
	path = pam_ldap
	url = https://github.com/icalvete/puppet-pam_ldap.git
[submodule "sonar"]
	path = sonar
	url = https://github.com/icalvete/puppet-sonar.git
[submodule "dokuwiki"]
	path = dokuwiki
	url = https://github.com/icalvete/puppet-dokuwiki.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/icalvete/puppet-memcached.git
[submodule "phpldapadmin"]
	path = phpldapadmin
	url = https://github.com/icalvete/puppet-phpldapadmin.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "fluentd"]
	path = fluentd
	url = https://github.com/icalvete/puppet-fluentd.git
[submodule "check_mk"]
	path = check_mk
	url = https://github.com/icalvete/puppet-check_mk.git
[submodule "logrotate"]
	path = logrotate
	url = https://github.com/rodjek/puppet-logrotate.git
[submodule "composer"]
	path = composer
	url = https://github.com/icalvete/puppet-composer.git
[submodule "kibana4"]
	path = kibana4
	url = https://github.com/icalvete/puppet-kibana4.git
[submodule "ubuntu_ffmpeg"]
	path = ubuntu_ffmpeg
	url = https://github.com/icalvete/puppet-ubuntu_ffmpeg.git
[submodule "wget"]
	path = wget
	url = https://github.com/maestrodev/puppet-wget
[submodule "codeception"]
	path = codeception
	url = https://github.com/icalvete/puppet-codeception.git
[submodule "ntp"]
	path = ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "nfs"]
	path = nfs
	url = https://github.com/derdanne/puppet-nfs.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch.git
[submodule "datacat"]
	path = datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "apt"]
	path = apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "java"]
	path = java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "limits"]
	path = limits
	url = https://github.com/puppetlabs/puppetlabs-limits.git
[submodule "initfile"]
	path = initfile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "upstart"]
	path = upstart
	url = https://github.com/Spantree/puppet-upstart.git
[submodule "graphite"]
	path = graphite
	url = https://github.com/echocat/puppet-graphite.git
[submodule "parse_platform"]
	path = parse_platform
	url = https://github.com/icalvete/puppet-parse_platform.git
[submodule "mongodb"]
	path = mongodb
	url = https://github.com/icalvete/puppetlabs-mongodb.git
[submodule "omd"]
	path = omd
	url = https://github.com/icalvete/puppet-omd.git
[submodule "staging"]
	path = staging
	url = https://github.com/voxpupuli/puppet-staging
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "haproxy"]
	path = haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy.git
[submodule "sysctl"]
	path = sysctl
	url = https://github.com/ULHPC/puppet-sysctl.git
[submodule "hhvm"]
	path = hhvm
	url = https://github.com/icalvete/puppet-hhvm.git
[submodule "php7"]
	path = php7
	url = https://github.com/icalvete/puppet-php7.git
[submodule "firewall"]
	path = firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall
[submodule "systemd"]
	path = systemd
	url = https://github.com/camptocamp/puppet-systemd.git
[submodule "rclocal"]
	path = rclocal
	url = https://github.com/icalvete/puppet-rclocal.git
[submodule "network"]
	path = network
	url = https://github.com/icalvete/puppet-network.git
[submodule "aws_cli"]
	path = aws_cli
	url = https://github.com/icalvete/puppet-aws_cli.git
[submodule "nifi"]
	path = nifi
	url = https://github.com/icalvete/puppet-nifi.git
[submodule "resolvconf"]
	path = resolvconf
	url = https://github.com/thias/puppet-resolvconf.git
[submodule "ruby"]
	path = ruby
	url = https://github.com/puppetlabs/puppetlabs-ruby
[submodule "onion"]
	path = onion
	url = https://github.com/icalvete/puppet-onion.git
[submodule "mysql_mmm"]
	path = mysql_mmm
	url = https://github.com/icalvete/puppet-mysql_mmm.git
[submodule "piwik"]
	path = piwik
	url = https://github.com/icalvete/puppet-piwik.git
[submodule "kibana"]
	path = kibana
	url = https://github.com/elastic/puppet-kibana
[submodule "geoip"]
	path = geoip
	url = https://github.com/icalvete/puppet-geoip.git
